/* Omaa CSS koodia

[START TAILWIND]
npx tailwindcss -i ./src/input.css -o ./public/css/output.css --watch 

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl text-blue-700 p-5;
  }
}

@layer components {
  .message {
    @apply py-1 px-1 bg-clr-rubine-red rounded-lg text-white w-fit m-2;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .wtf {
    height: calc(100vh - 3rem);
  }
  .text-outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
